
body
{
    padding-left:10px;
    font-size:13px;
}
h1
{
    font-size:20px;
    font-family:Verdana;
}
h4
{
    font-size:16px;
    margin-top:25px;
    margin-bottom:10px;
}

.description
{
    padding-bottom:30px;
    font-family:Verdana;
}
.description h3
{
    color:#BCBCBC;
    font-size:16px;
    margin:0 0px 10px 0px;
    padding:45px 0 8px;
    /*background:url(titleback.png) no-repeat scroll left bottom transparent*/
    border-bottom:solid 1px #BFDFFF;
}
.description p
{
    color: #BCBCBC;
    border-bottom:solid 0px #BFDFFF;
}

.caption h2
{
    margin:15px 30px 0px 0px;
    color: #000;
    /*border-bottom:solid 1px #BFDFFF;*/
    font-size: 28px;
    padding-bottom: 0px;
}
.caption p
{
    /*color: #BFDFFF;*/
    color: #BCBCBC;
    border-bottom:solid 2px #BFDFFF;
    padding-bottom: 5px;

}
.caption_keynote
{
    /*color: #409fff;*/
    color: #000;
    font-weight: bold;
    font-size: 20px;
    border-bottom:solid 1px #BFDFFF;
    padding-bottom: 5px;
}
.caption strong
{
    color: #409fff;
    font-weight: bold;
    font-size: 15px;
}

